<section>
  <div class="row">
    <div class="col-9">
      <a routerLink="/" class="title">
        Dashboard
      </a>
    </div>
    <div class="col-3">
      <a class="btn btn-danger" (click)="logout()">
        Sair
      </a>
    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-6">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded h-100">
        <div class="card-body">
          <app-balance [balance]="userProfile?.balance"></app-balance>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card shadow p-3 mb-5 bg-body-tertiary rounded h-100">
        <div class="card-body">
          <app-stocks-pie-chart [chart]="userProfile?.chart"></app-stocks-pie-chart>
        </div>
      </div>
    </div>
  </div>
</section>
